@import '../variables.scss';

.root {
  min-width: 160px;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 2rem;
  border: none;
  background-image: linear-gradient(-90deg, $lapis-lazuli, $steel-blue);
  box-shadow: 0 0 0 0, 0 0 0 0 $xiketic, 0 0 transparent;
  outline: none;
  cursor: pointer;
  color: $nyanza;
  text-transform: uppercase;
  font-size: 1rem;
}
