@import '../../variables.scss';

.root {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  box-sizing: border-box;
  background-color: $grey2;
  font-family: $font-family;
}

.body {
  padding: 1rem;
}

svg {
  overflow: visible;
  display: block;
  width: 100%;
  height: 300px;
  transition: all 1s ease-in-out;
}

.footer{
  display: flex;
  justify-content: center;
}

.button {
  min-width: 160px;
  border-radius: 5px;
  padding: 1rem 2rem; 
  margin: 2rem;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
}