@import '../variables.scss';

html, body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: $grey2;
  font-family: $font-family;
}

.body {
  padding: 1rem;
}